<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#btn1').click(function(){
                alert('장고를 환영합니다!')
            })

            $('#btn2').click(function(){
                alert('이제 시작입니다!')
            })
        })
    </script>
    <meta charset="UTF-8">
    <title>loginNot</title>
</head>
<body bgcolor="orange">
로그인Not
<br>
<a href="start">인스타 시작 페이지로</a><br>
<a href="home">홈1 페이지로</a><br>
<a href="/">메인으로</a><br>
</body>
</html>