<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "source/style.css" %}">
    <meta charset="UTF-8">
    <style>
        {% load static %}
        .bg_img {
            border: 0;
            padding: 0;
            left: 0;
            top: 0;
            min-height: 100%;
            background-image: url({% static "img/bg_img.png" %});
            background-position: top, left;
            background-size: cover;
        }
    </style>
    <title>Mystargram</title>
</head>
<body>
<div class="bg_img">  {# 바탕화면 div 모든 내용 안쪽으로 작성요망. #}
    {#   <a id="bg-link" href="/index.html"></a> 로고 누르면 인덱스로; 차후에 세션있으면 메인으로, 세션없으면 인덱스로 수정예정. #}

    <span id="common_head"> {# 공통사용 상단부분 버튼 4개. #}
        <a class="btn" style="background-color: #3D01E1; color:white; margin-right: 20px; margin-top: 80px;"
            name="new_post" id="new_post">New Post</a>
        <a class="btn" style="background-color: #3D01E1; color:white; margin-right: 20px; margin-top: 80px; "
            name="my_news" id="my_news">My News</a>
        <a class="btn" style="background-color: #3D01E1; color:white; margin-right: 20px; margin-top: 80px;"
            name="my_page" id="my_page">My Page</a>
        <a class="btn" style="background-color: #3D01E1; color:white; margin-right: 20px; margin-top: 80px;"
            name="logout" id="logout">Logout</a>
    </span>

    <div>
        <h1>여기서부터 각자 필요한 부분 만들</h1>
        <h1>{{ dto.content }}</h1>
    </div>

</div> {# 바탕화면 div 모든 내용 안쪽으로 작성요망. #}

</body>
</html>